package ${package}.${moduleName}.controller;

import java.util.Arrays;

import org.springframework.web.bind.annotation.*;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;

import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.entity.ext.${className}Ext;
import ${package}.${moduleName}.service.I${className}Service;

import ${package}.${moduleName}.entity.request.Query${className}Request;

import com.yellow.common.entity.response.ResponseResult;
import com.yellow.common.entity.response.QueryResponseResult;
import com.yellow.common.entity.response.ObjectResponseResult;

import javax.annotation.Resource;

/**
 * ${comments}控制器
 *
 * @author ${author}
 * @email ${email}
 * @since ${datetime}
 */
@Api(tags = "${comments}控制器")
@RestController
@RequestMapping("/api/${pathName}")
public class ${className}Controller {

    @Resource
    private I${className}Service i${classname}Service;

    /**
     * 列表
     */
    @ApiOperation("列表")
    @PostMapping("/page/list/{page}/{size}")
    // @RequiresPermissions("${moduleName}:${pathName}:list")
    public QueryResponseResult<${className}Ext> pageList(@PathVariable("page") int page, @PathVariable("size") int size, @RequestBody Query${className}Request request){
        return i${classname}Service.pageList(page, size, request);
    }


    /**
     * 信息
     */
    @ApiOperation("信息")
    @GetMapping("/info/{${pk.attrname}}")
    // @RequiresPermissions("${moduleName}:${pathName}:info")
    public ObjectResponseResult<${className}> info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
        return ObjectResponseResult.success(i${classname}Service.getById(${pk.attrname}));
    }

    /**
     * 保存
     */
    @ApiOperation("保存")
    @PostMapping("/save")
    // @RequiresPermissions("${moduleName}:${pathName}:save")
    public ResponseResult save(@RequestBody ${className} ${classname}){
		i${classname}Service.save(${classname});

        return ResponseResult.success();
    }

    /**
     * 修改
     */
    @ApiOperation("修改")
    @PostMapping("/update")
    // @RequiresPermissions("${moduleName}:${pathName}:update")
    public ResponseResult update(@RequestBody ${className} ${classname}){
		i${classname}Service.updateById(${classname});

        return ResponseResult.success();
    }

    /**
     * 删除
     */
    @ApiOperation("删除")
    @PostMapping("/delete")
    // @RequiresPermissions("${moduleName}:${pathName}:delete")
    public ResponseResult delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
		i${classname}Service.removeByIds(Arrays.asList(${pk.attrname}s));

        return ResponseResult.success();
    }

}
