<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.api.mapper.${className}Mapper">
    <select id="findList" resultType="${className}Ext">
        select
            #foreach($column in $columns)
                ${column.columnName}#if(${foreach.hasNext}),#end
                #if(${foreach.index} != -1)

                #end
            #end
         from ${tableName}
        <where>
            <!--<if test="@com.yellow.common.util.StringUtils@isNotEmpty(str)">
              and field = #{str}
            </if>-->

            <!--<if test="@java.util.Objects@nonNull(int)">
                and field = #{int}
            </if>-->

            <!--<if test="!@org.springframework.util.CollectionUtils@isEmpty(list)">
                and field in
                <foreach collection="list" item="o" open="(" separator="," close=")">
                    #{o}
                </foreach>
            </if>-->
        </where>
    </select>

</mapper>