package ${package}.api.mapper;

import ${package}.api.model.${className};
import ${package}.api.model.ext.${className}Ext;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

import ${package}.api.model.request.Query${className}Request;

import java.util.List;

/**
 * ${comments}持久层
 * 
 * @author ${author}
 * @email ${email}
 * @since ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

    List<${className}Ext> findList(Query${className}Request request);
	
}
