package ${package}.api.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.api.model.${className};
import ${package}.api.model.ext.${className}Ext;
import ${package}.api.model.request.Query${className}Request;

import com.yellow.common.entity.response.QueryResponseResult;

import javax.annotation.Resource;

public interface I${className}Service extends IService<${className}> {

    QueryResponseResult<${className}Ext> pageList(int page, int size, Query${className}Request request);

}

