<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yellow.api.mapper.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.yellow.api.model.SysLoginLog">
    <!--@mbg.generated generated on Thu Apr 22 16:09:17 CST 2021.-->
    <!--@Table sys_login_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="os" jdbcType="VARCHAR" property="os" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Apr 22 16:09:17 CST 2021.-->
    id, username, ip, address, browser, os, `status`, login_time
  </sql>

  <delete id="deleteLoginLog" parameterType="java.lang.Integer">
    delete from sys_login_log where login_time &lt; DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
  </delete>
</mapper>