<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yellow.api.mapper.SysOperateLogMapper">
  <delete id="deleteOperateLog" parameterType="java.lang.Integer">
    delete from sys_operate_log where operate_time &lt; DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
  </delete>

  <select id="findList" resultType="SysOperateLog">
    select
      id,
      operate_event,
      request_method,
      operate_name,
      operate_time,
      method_name,
      operate_status,
      time
    from sys_operate_log
    <where>
      <if test="@com.yellow.common.util.StringUtils@isNotEmpty(key)">
        and (operate_name = #{key} or operate_event like '${key}%')
      </if>
    </where>
    order by operate_time desc
  </select>
</mapper>