<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yellow.api.mapper.SysUserMapper">

  <select id="findAllMenuIdById" resultType="java.lang.Integer">
    <!-- 查询用户的所有菜单ID -->
      select distinct menu_id from sys_user_role ur
      LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id
      where ur.user_id = #{userId}
    </select>

  <select id="findList" resultType="SysUser">
    select
        id,
        username,
        name,
        phone,
        status,
        remark,
        create_time
    from sys_user
    <where>
      is_del = 0
      <if test="@com.yellow.common.util.StringUtils@isNotEmpty(username)">
        and username = #{username}
      </if>
      <include refid="com.baomidou.mybatisplus.core.mapper.BaseMapper.Base_DataPermissions_Where" />
    </where>
    order by update_time desc
  </select>
</mapper>